  body,
  html {
  
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
    font-size: 12px;
  
    height: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
  }
  
  a:link {
    text-decoration: none;
  }
  
  .content {
    position: relative;
    width: 100%;
    height: 100%;
  
    > .message {
      width: 100%;
      height: 100%;
      text-align: center;
      display: table;
  
      font-size: 16px;
      color: #111;
  
      .note {
        vertical-align: middle;
        text-align: center;
        display: table-cell;
      }
  
      .error {
        .details {
          max-width: 500px;
          font-size: 12px;
          margin: 20px auto;
          text-align: left;
        }
  
        pre {
          border: solid 1px #CCC;
          background: #EEE;
          padding: 10px;
        }
      }
    }
    &:not(.with-error) .error,
    &.with-error .intro,
    &.with-diagram .intro {
      display: none;
    }
  
    .canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    .canvas,
    &.with-error .canvas {
      visibility: hidden;
    }
  
    &.with-diagram .canvas {
      visibility: visible;
    }
  }
  
  .buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;

    display: flex;
    flex-direction: row;

    padding: 0;
    margin: 0;
    list-style: none;
  
    > li {
      margin-right: 10px;
  
      > a {
        background: #DDD;
        border: solid 1px #666;
        padding: 5px;
      }
    }
  
    a {
      opacity: 0.3;
    }
  
    a.active {
      opacity: 1.0;
    }
  }
  
  @property-panel-width: 400px;
  #js-properties-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: @property-panel-width;
    z-index: 10;
    border-left: 1px solid #ccc;
    overflow: auto;
    &:empty {
      display: none;
    }
    > .djs-properties-panel {
      padding-bottom: 70px;
      min-height:100%;
    }
  }

  @import "~bpmn-js-properties-panel/styles/properties";

  @import "~diagram-js-minimap/assets/diagram-js-minimap.css";
  @import "~@mdi/font/css/materialdesignicons.css";
  .djs-minimap {
    position: absolute;
    right: calc(~"20px +" @property-panel-width);
    font-size: 2em;
    order: -1;
  }
  .djs-minimap:not(.open) .toggle:before {
    content: '\f34d';
  }
  .djs-minimap.open .toggle:before {
    content: '\f156';
  }