[class^="etalon-replace-icon-"], [class*=" etalon-replace-icon-"] {
    display: flex;
    flex-direction: row;
}

[class^="etalon-replace-icon-"]:before, [class*=" etalon-replace-icon-"]:before {
    speak: none;
  
    text-decoration: inherit;
    width: 1em;
    height: 1em;
    /* margin-right: .2em; */
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  }

.icon-custom-triangle {
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%233CAA82%22%20width%3D%22270%22%20height%3D%22240%22%3E%3Cpath%20d%3D%22M8%2C40%20l%2015%2C-27%20l%2015%2C27%20z%22%2F%3E%3C%2Fsvg%3E');
}
.icon-custom-circle {
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20stroke-width%3D%228%22%20stroke%3D%22%2348a%22%20fill%3D%22none%22%20viewBox%3D%220%200%20120%20120%22%3E%3Ccircle%20cx%3D%2260%22%20cy%3D%2260%22%20r%3D%2240%22%2F%3E%3C%2Fsvg%3E');
}
.icon-custom-circle {
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20stroke-width%3D%228%22%20stroke%3D%22%2348a%22%20fill%3D%22none%22%20viewBox%3D%220%200%20120%20120%22%3E%3Ccircle%20cx%3D%2260%22%20cy%3D%2260%22%20r%3D%2240%22%2F%3E%3C%2Fsvg%3E');
}

@etalon-icon-logo: url("./Эталон-min.png") 100% 100% no-repeat;
.etalon-replace-icon-logo:before {
    content: ' ';
    background: @etalon-icon-logo;
    background-position: center;
    background-size: contain;
}
.etalon-icon-logo {
    background: @etalon-icon-logo;
    background-position: center;
    background-size: contain;
}